---
layout: default
title: Weijun Li
---

{% assign projects = site.data.project.project %}
{% assign news = site.data.news.list %}
{% assign publications = site.data.publication.publication %}
{% assign lightpublications = site.data.lightpub.publication %}

{% assign category = site.data.publication-category %}
<div class="content-wrapper">

<div class="container py-3">
    <div class="row">
        <div class="col-12 col-md-3 align-self-center mb-4 mb-md-0">
            <img src="{{ '/assets/images/main/profile-i.png' | relative_url }}" alt="" class="profile-image" id="hero">
        </div>
        <div class="col-12 col-md-9 align-self-center text-sm smaller-text">
            <h4>Weijun Li</h4>
            <p class="mt-2">
              I am a Human-Computer Interaction (HCI) researcher and a first-year Informatics Ph.D. student at 
              <a href="https://uci.edu/">🐜 University of California, Irvine</a>, working in the 
              <a href="https://depstein.net/pielab">🥧 PIE LAB</a> with 
              <a href="https://depstein.net/">Prof. Daniel Epstein</a>.
            </p>
            
            <p>
              I focus how to design responsible, well-being-oriented technologies. Currently, my research focuses on 
              <a href="#">💡 personal informatics</a>, with broader interests in Human-Computer Interaction (HCI) and 
              Computer-Supported Cooperative Work (CSCW). Previously, I worked on HCI and design projects at Zhejiang University with Prof. Lingyun Sun and Prof.
                Shi Chen. Earlier, I was active in <a>algorithm competitions</a> and <a>accumulated experience as a
                    full-stack developer</a> during my undergraduate studies.</p>

            <p> Outside of research, you can find me <a href="https://www.strava.com/athletes/44462387">🚴‍♀️🌸cycling</a> in
                the nearest mountain. Feel free to reach out if you’d like to chat about research or cycling!
            </p>

            <a href="#" class="cryptedmail" data-name="weijunl3" data-domain="uci" data-tld="edu"
                onclick="window.location.href = 'mailto:' + this.dataset.name + '@' + this.dataset.domain + '.' + this.dataset.tld; return false;">
                <i class="fa-solid fa-envelope" style="margin-right: .3rem;"></i>
            </a>

            </p>
        </div>
    </div>
</div>


<!-- News -->

<!-- 
<div class="container py-3">
    <div class="row">
        <div class="container pb-3 px-0 px-md-3" id="news">
            <p style="font-weight: 500 !important; text-transform: uppercase;">News</p>
            <div class="row mt-4">
                {% for new in news limit: 3 %}
                <div class="col-12">
                    <span class="mb-1" style="font-size: .8rem; font-weight: 200 !important; display:inline-block"> {{
                        new.date
                        | date: "%B %Y" }}</span>
                    <p class="mb-0" style="font-size: 0.9rem; font-weight: 400 !important; display:inline-block;">{{
                        new.title
                        }}</p>
                </div>
                {% endfor %}
                <details style="display: inline-block; font-size: 16px">
                    <summary style="padding-left:5px; margin-top:5px; margin-bottom:-10px; font-size: 16px"><span
                            style="font-size: 14px"> See More</span></summary>
                    <p class="mb-0" style="font-size: 0.9rem; font-weight: 400 !important; display:inline-block">
                        {% for new in news offset: 6 %}
                    <div class="col-12">
                        <span class="mb-1"
                            style="font-size: .8rem; font-weight: 200 !important; display:inline-block">{{
                            new.date | date: "%B %Y" }} </span>
                        <p class="mb-0" style="font-size: 0.9rem; font-weight: 400 !important; display:inline-block">{{
                            new.title }}</p>
                    </div>
                    {% endfor %}

                </details>
            </div>

        </div>
    </div>
</div> -->

<div class="container py-3">
    <div class="row">
      <!-- Left: News -->
      <div class="col-md-6">
        <div class="pb-3 px-0 px-md-3" id="news">
          <p style="font-weight: 500 !important; text-transform: uppercase;">News</p>
          <div class="row mt-4">
            {% for new in news limit: 5 %}
            <div class="col-12">
              <span class="mb-1" style="font-size: .8rem; font-weight: 200 !important; display:inline-block">
                {{ new.date | date: "%B %Y" }}
              </span>
              <p class="mb-0" style="font-size: 0.9rem; font-weight: 400 !important; display:inline-block">
                {{ new.title }}
              </p>
            </div>
            {% endfor %}
  
            <details style="display: inline-block; font-size: 16px">
              <summary style="padding-left:5px; margin-top:5px; margin-bottom:10px; font-size: 16px">
                <span style="font-size: 14px"> See More</span>
              </summary>
              {% for new in news offset: 5 %}
              <div class="col-12">
                <span class="mb-1" style="font-size: .8rem; font-weight: 200 !important; display:inline-block">
                  {{ new.date | date: "%B %Y" }}
                </span>
                <p class="mb-0" style="font-size: 0.9rem; font-weight: 400 !important; display:inline-block">
                  {{ new.title }}
                </p>
              </div>
              {% endfor %}
            </details>
          </div>
        </div>
      </div>
  
      <!-- Right: Current Work -->
      <div class="col-md-6">
        <div class="pb-3 px-2" id="current-work">
            <p style="font-weight: 500 !important; text-transform: uppercase;">Ongoing Project</p>

          
          <img src="/assets/images/project/cur.png" alt="Current Work Image"
               style="width: 100%; border-radius: 8px; margin-bottom: 0.8rem;">
          
          <p style="font-size: 0.9rem; font-weight: 300;">
            Enhancing Food Tracking Practice with LLMs: Towards Goal-Oriented Reflection   (CHI 2025 EA)
          </p>
        </div>
      </div>
    </div>
  </div>

<!-- Publication -->
<div class="container pb-3 px-0 px-md-3" id="research">
    <p style="font-weight: 500 !important; text-transform: uppercase;">Publications</p>
   

    <div class="row mt-4">

        <div class="project-view">
            <div class="row mt-4" style="flex: 0 0 100%;" id="publications">
                {% for pub in publications %}



                <div
                    class="item row row_img px-0 {% for cat_each in paper.category %}tag-{{ cat_each | replace: ' / ', '' }} {% endfor %} ">
                    {% for paper in pub.pubs %}
                    <div class="col-md-3 home_img" style="display: flex; align-items: center;justify-content: center;">
                        <img src="{{ '/assets/images/project/' | append: paper.image | relative_url }}" width="100%"
                            alt="">
                        <img src="{{ '/assets/images/project/' | append: paper.gif | relative_url }}" width="100%"
                            class="c" alt="">
                    </div>
                    <div class="col-md-9">
                        <div class=" px-0 mb-2 {% unless forloop.first %}mt-5{% endunless %}">
                            <span style="font-weight: 400">{{ pub.year }}</span>
                        </div>
                        <p class="mb-2" style="font-size: 1rem; font-weight: 400 !important;">{{ paper.title }}</p>
                        <p class="mb-2" style="font-size: .95rem; font-weight: 200 !important;">{% for author in
                            paper.authors %}{% if author == "Weijun Li" or author == "Weijun Li*" %}<span
                                style="font-weight: 400;" data-toggle="tooltip" title="Some tooltip text!">{{
                                author }}</span>{% else %}{{ author }}{% endif %}{% unless forloop.last %}, {%
                            endunless
                            %}{% endfor %}</p>
                        <p class="mb-1" style="font-size: .9rem; font-weight: 200 !important;"><span
                                style="font-weight: 400;font-size:.8rem;background-color:hsla(208, 100%, 82%, 0.294); ">{{
                                paper.venue }} {% if paper.note %} ({{ paper.note }}){% endif %}</span>{% if
                            paper.abstract %} {{ paper.abstract }}{% endif %}</p>

                        {% if paper.award %}
                        <p class="mb-2" style="font-size: .95rem; font-weight: 400 !important;"><i
                                class="fa-solid fa-medal"></i>&nbsp;&nbsp;{{ paper.award }}</p>
                        {% endif %}
                        {% unless paper.note contains 'accepted' %}
                        <p style="font-size: .9rem; font-weight: 300 !important;">
                            <a href="{{ '/assets/pdf/' | append: paper.id | append: '.pdf' | relative_url }}"><i
                                    class="fa-solid fa-file"></i>&nbsp;&nbsp;PDF</a>&nbsp;&nbsp;&nbsp;&nbsp;
                            {% if paper.video %}
                            <a href="{{ 'https://youtu.be/' | append: paper.video }}"><i
                                    class="fa-solid fa-play"></i>&nbsp;&nbsp;Video</a>&nbsp;&nbsp;&nbsp;&nbsp;
                            {% endif %}
                            {% if paper.slide %}
                            <a href="{{ '/assets/pdf/' | append: paper.slide | relative_url }}"><i
                                    class="fa-solid fa-file-powerpoint"></i>&nbsp;&nbsp;Slides</a>&nbsp;&nbsp;&nbsp;&nbsp;
                            {% endif %}
                            {% if paper.poster %}
                            <a href="{{ '/assets/pdf/' | append: paper.poster | relative_url }}"><i
                                    class="fa-solid fa-note-sticky"></i>&nbsp;&nbsp;Poster</a>&nbsp;&nbsp;&nbsp;&nbsp;
                            {% endif %}
                        </p>
                        {% endunless %}
                        {% unless forloop.last %}
                        <hr>
                        {% endunless %}
                    </div>

                </div>

                {% endfor %}
                {% endfor %}
            </div>
        </div>

    </div>
</div>



<!-- Publication -->
<div class="container pb-3 px-0 px-md-3" id="research">
    <p style="font-weight: 500 !important; text-transform: uppercase;">Lightly reviewed publications</p>

    <div class="row mt-4">

        <div class="project-view">
            <div class="row mt-4" style="flex: 0 0 100%;" id="publications">
                {% for pub in lightpublications %}

                <div
                    class="item row row_img px-0 {% for cat_each in paper.category %}tag-{{ cat_each | replace: ' / ', '' }} {% endfor %} ">
                    {% for paper in pub.pubs %}
                    <div class="col-md-3 home_img" style="display: flex; align-items: center;justify-content: center;">
                        <img src="{{ '/assets/images/project/' | append: paper.image | relative_url }}" width="100%"
                            alt="">
                        <img src="{{ '/assets/images/project/' | append: paper.gif | relative_url }}" width="100%"
                            class="c" alt="">
                    </div>
                    <div class="col-md-9">
                        <div class=" px-0 mb-2 {% unless forloop.first %}mt-5{% endunless %}">
                            <span style="font-weight: 400">{{ pub.year }}</span>
                        </div>
                        <p class="mb-2" style="font-size: 1rem; font-weight: 400 !important;">{{ paper.title }}</p>
                        <p class="mb-2" style="font-size: .95rem; font-weight: 200 !important;">{% for author in
                            paper.authors %}{% if author == "Weijun Li" or author == "Weijun Li*" %}<span
                                style="font-weight: 400;" data-toggle="tooltip" title="Some tooltip text!">{{
                                author }}</span>{% else %}{{ author }}{% endif %}{% unless forloop.last %}, {%
                            endunless
                            %}{% endfor %}</p>
                        <p class="mb-1" style="font-size: .9rem; font-weight: 200 !important;"><span
                                style="font-weight: 400;font-size:.8rem;background-color:hsla(208, 100%, 82%, 0.294); ">{{
                                paper.venue }} {% if paper.note %} ({{ paper.note }}){% endif %}</span>{% if
                            paper.abstract %} {{ paper.abstract }}{% endif %}</p>

                        {% if paper.award %}
                        <p class="mb-2" style="font-size: .95rem; font-weight: 400 !important;"><i
                                class="fa-solid fa-medal"></i>&nbsp;&nbsp;{{ paper.award }}</p>
                        {% endif %}
                        {% unless paper.note contains 'accepted' %}
                        <p style="font-size: .9rem; font-weight: 300 !important;">
                            <a href="{{ '/assets/pdf/' | append: paper.id | append: '.pdf' | relative_url }}"><i
                                    class="fa-solid fa-file"></i>&nbsp;&nbsp;PDF</a>&nbsp;&nbsp;&nbsp;&nbsp;
                            {% if paper.video %}
                            <a href="{{ 'https://youtu.be/' | append: paper.video }}"><i
                                    class="fa-solid fa-play"></i>&nbsp;&nbsp;Video</a>&nbsp;&nbsp;&nbsp;&nbsp;
                            {% endif %}
                            {% if paper.slide %}
                            <a href="{{ '/assets/pdf/' | append: paper.slide | relative_url }}"><i
                                    class="fa-solid fa-file-powerpoint"></i>&nbsp;&nbsp;Slides</a>&nbsp;&nbsp;&nbsp;&nbsp;
                            {% endif %}
                            {% if paper.poster %}
                            <a href="{{ '/assets/pdf/' | append: paper.poster | relative_url }}"><i
                                    class="fa-solid fa-note-sticky"></i>&nbsp;&nbsp;Poster</a>&nbsp;&nbsp;&nbsp;&nbsp;
                            {% endif %}
                        </p>
                        {% endunless %}
                        {% unless forloop.last %}
                        <hr>
                        {% endunless %}
                    </div>

                </div>

                {% endfor %}
                {% endfor %}
            </div>
        </div>

    </div>
</div>


{% assign projects = site.data.project.project %}

<script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
<script src="https://unpkg.com/imagesloaded@5/imagesloaded.pkgd.min.js"></script>


</div>

<script>
    var grid = document.querySelector('.grid');
    var msnry = new Masonry(grid, {
        percentPosition: true,
        itemSelector: '.grid-item'
    });
    imagesLoaded(grid).on('progress', function () {
        msnry.layout();
    });

</script>


<style>
    /* .smaller-text h4 {
         font-size: 0.9 em;
        }
        
    .smaller-text p {
         font-size: 0.85em;
    } */

    .cryptedmail:after {
        content: attr(data-name) "@" attr(data-domain) "." attr(data-tld);
    }

    .profile-image {
        width: 100%;
        height: auto;
        padding: 0;
    }

    @media screen and (max-width: 1200px) {
        .profile-image {
            padding: 0 1rem !important;
        }
    }

    @media screen and (max-width: 991px) {
        .profile-image {
            padding: 0 .5rem !important;
        }
    }

    @media screen and (max-width: 575px) {
        .profile-image {
            width: 50% !important;
            display: block;
            margin-left: auto;
            margin-right: auto;
            padding: 0 !important;
        }
    }

    .home_img:hover img {
        cursor: pointer;
    }

    .home_img:hover img:nth-child(1) {
        display: none;
    }

    .home_img:hover img:nth-child(2) {
        display: block;
    }

    .c {
        display: none;
    }

    p a {
        position: relative;
        background-image: linear-gradient( rgba(122, 191, 255, 0.25), rgba(122, 191, 255, 0.4));       
        background-repeat: no-repeat;
        background-size: 100% 30%;
        background-position: 0 95%;
        transition: background-position 200ms cubic-bezier(0, 0.8, 0.13, 1), background-size 200ms cubic-bezier(0, 0.8, 0.13, 1);
        padding: 2px 0;
    }

    p a:hover {
        background-size: 100% 100%;
    }

    .row_img>div {
        margin: 13px 0;
        min-height: 150px;
    }

    .project-view {
        padding-top: .5rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    @media (min-width:48.0625em) {
        .project-view {
            justify-content: center;
        }
    }

    .item:last-child>hr {
        display: none;
    }
    .content-wrapper {
        max-width: 1140px;
        margin: 0 auto;
        padding: 0 1rem;
  }
 
</style>

<!-- <script>
    var musics = [
        {
            "file": "love_dive",
            "caption": "IVE - Love Dive",
            "link": "https://music.apple.com/us/album/love-dive/1616804151?i=1616804152"
        }
    ];
    const selected = musics[Math.floor(Math.random() * musics.length)];
    document.getElementById("hero").src = "/assets/images/main/hero/" + selected.file + ".svg";
    document.getElementById("music").innerText = selected.caption;
    document.getElementById("music").href = selected.link;
</script> -->