<footer>
  <hr style="margin-left: 15px; color: #000 !important; background-color: #000 !important; opacity: 1 !important; width: 40px; height: .5px !important; margin-bottom: 2rem !important;">
  <div class="row m-0">
    <div class="col-12 col-md-3 col-sm-4 mb-4 mb-sm-0">
      <p><br>Up-to-date as of November 02</p>
      <i class="fas fa-location-dot mr-1"></i> HangZhou is <img style="width: auto; height: 23px;" id="weather_icon"><span id="weather">Loading...</span>
    </div>
    <div class="col-12 col-md-9 col-sm-8">
      <p>
        <a style="font-weight: 300" href="https://scholar.google.com.hk/citations?user=PaE8R44AAAAJ&hl=zh-CN"><i class="fab fa-google" style="margin-right: 10.5px"></i>Google Scholar        </a><br>
        <a style="font-weight: 300" href="https://www.instagram.com/mvsovo/"><i class="fab fa-instagram" style="margin-right: 10.5px"></i>Instagram</a><br>
        <a style="font-weight: 300" href="https://www.strava.com/athletes/44462387"><i class="fa fa-bicycle" style="margin-right: 10.5px"></i>Strava</a><br>

      </p>
    </div>
  </div>
</footer>

<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>

<script src="{{ '/js/weather.js' | relative_url }}"></script>
<script src="{{ '/js/github_date.js' | relative_url }}"></script>